#services{
    width: 100%;
    height: 500px;
    background-color: rgb(30, 97, 222) rgb(246, 163, 81)
}
.bg-pink{
    background-color: rgb(222, 150, 150);
}
.font-color{
    font: size 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 57, 85);

}
.custom-nav{
    background-color: rgb(251, 205, 205);
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
}